<aside class="side-nav" style="box-shadow: inset  -9px 0 18px  rgb(105, 105, 105); border-right: 1px solid #07679e;">
  <mac-user-area [user]="user | async" [openTasksCount]="openTasksCount | async"></mac-user-area>
  <mac-navigation>
    <mac-navigation-section title="Projects">
      <mac-navigation-item *ngFor="let project of projects | async" [navId]="project.id" [title]="project.title"
        routerLinkActive="active" [routerLink]="['/projects',project.id]">
      </mac-navigation-item>
    </mac-navigation-section>
  </mac-navigation>
</aside>
<main class="main">
  <router-outlet></router-outlet>
</main>
